@import '../../App.scss';

.slider {
  height: 400px;

  &__button {
    background-color: none;
    border: solid 1px #111;
    border-radius: 50%;
  }

}

.slide {
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 1s ease-in-out;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 0;
  &.active {
    opacity: 1;
    z-index: 1;
  }
}
