@import '../../App.scss';

.recomend {
  &-models {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 16px;
    overflow: hidden;
    overflow-x: scroll;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    &-buttons {
      display: flex;
      flex-direction: row;
      gap: 16px;
      background-color: transparent;
    }
    &-button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: none;
      cursor: pointer;
      outline: none;
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }

      @include icon-wrapper-default;
    }
  }
}
