@import '../../App.scss';
.path {
  display: flex;
  align-items: center;
  justify-content: start;

  margin-top: 24px;

  &__item {
    margin-right: 12px;

    &-text {
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;

      color: #0f0f11;

      &:last-child {
        color: #89939a;

        @include onDesktop {
          font-weight: 600;
        }
      }
    }
  }
}

.back__link {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  margin-top: 24px;

  text-decoration: none;

  @include onTablet {
    margin-top: 40px;
  }

  @include onDesktop {
    margin-top: 40px;
  }

  &-item {
    margin-right: 4px;
  }

  &-name {
    margin: 0px;

    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;

    color: #89939a;
  }
}

.title {
  margin-top: 16px;

  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 140%;

  @include onTablet {
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.01em;
  }

  @include onDesktop {
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.01em;
  }
}

.phone__photo {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-wraper {
    margin-top: 40px;

    @include onTablet {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-evenly;
    }

    @include onDesktop {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-evenly;
    }
  }

  &-container {
    display: flex;
    justify-content: space-around;
    margin-top: 16px;

    @include onTablet {
      flex-direction: column;
      margin-top: 0px;
    }

    @include onDesktop {
      flex-direction: column;
      margin-top: 0px;
    }
  }

  &--main {
    max-height: 288px;

    @include onTablet {
      max-height: 288px;
    }

    @include onDesktop {
      max-height: 464px;
    }
  }

  &--small {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 52px;
    height: 52px;

    border: 1px solid black;

    background-image: url(https://be-product-catalog.onrender.com/products/phones/8/image);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    border-radius: 4px;

    @include onTablet {
      width: 35px;
      height: 35px;

      margin-bottom: 8px;
    }

    @include onDesktop {
      width: 80px;
      height: 80px;

      margin-bottom: 16px;
    }
  }
}

.controllers {
  margin-top: 40px;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.colors {
  padding-bottom: 24px;
  border-bottom: 1px solid #e2e6e9;

  &__circle {
    margin-right: 8px;

    &-container {
      margin-top: 8px;
    }
  }
}

.capacity {
  margin-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e2e6e9;

  &__container {
    display: flex;
    align-items: center;
  }

  &__button {
    margin: 8px 8px 0 0;
    padding: 4px 8px;

    border: 1px solid black;
    border-radius: 4px;
  }
}

.price {
  margin-top: 32px;

  &__new {
    margin-right: 8px;

    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;

    color: #0f0f11;
  }

  &__old {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;

    color: #89939a;

    text-decoration: line-through;
  }
}

.add-to-cart {
  display: flex;
  justify-content: space-between;
  text-align: center;

  margin-top: 16px;

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 8px;

    width: 100%;
    height: 48px;

    border-radius: 8px;

    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-decoration: none;

    outline: none;
    border: 1px solid transparent;
    color: $white-color;
    background: $accent-color;

    cursor: pointer;
  }

  &__favourites {
    padding: 16px;

    width: 48px;
    height: 48px;

    border-radius: 40px;

    border: 1px solid $icons-color;

    &:hover {
      border: 1px solid $primary-color;
      cursor: pointer;
    }
  }
}

.characteristics {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 32px;

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
  }

  &__description {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
  }

  &__item {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0px;
    }
  }
}

.about {
  display: grid;
  margin-top: 56px;

  &__title {
    padding-bottom: 16px;

    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;

    color: #0f0f11;

    border-bottom: 1px solid #e2e6e9;

    @include onTablet {
      font-weight: 800;
      font-size: 22px;
      line-height: 30px;
    }

    @include onDesktop {
      font-weight: 800;
      font-size: 22px;
      line-height: 30px;
    }
  }

  &__paragraph-title {
    margin-top: 32px;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    color: #0f0f11;

    @include onTablet {
      font-size: 20px;
      line-height: 26px;
    }

    @include onDesktop {
      font-size: 20px;
      line-height: 26px;
    }
  }

  &__text {
    margin-top: 16px;

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;

    color: #89939a;
  }
}

.tech-specs {
  margin-top: 56px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 32px;
  }

  &__title {
    padding-bottom: 16px;

    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;

    color: #0f0f11;

    border-bottom: 1px solid #e2e6e9;
  }

  &__name {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 23px;
  }

  &__description {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 23px;
    text-align: right;
  }

  &__item {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0px;
    }
  }
}

.recomended {
  margin-top: 56px;

  &__title {
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 140%;

    @include onTablet {
      font-size: 32px;
      line-height: 41px;
      letter-spacing: -0.01em;
    }

    @include onDesktop {
      font-size: 32px;
      line-height: 41px;
      letter-spacing: -0.01em;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.arrow {
  &-icon {
    padding: 8px;
    margin-right: 16px;

    width: 32px;
    height: 32px;

    border-radius: 40px;

    border: 1px solid $icons-color;

    &:last-child {
      margin: 0;
    }
  }
}

.empty__card {
  width: 212px;
  height: 439px;

  margin: 24px 0px 56px 0px;

  border: 1px solid black;
}
