@import "../../App.scss"; 
.title {
    margin-top: 16px;
  }

.path {
  display: flex;
  align-items: center;
  justify-content: start;

  margin-top: 24px;

  &__item {
    margin-right: 12px;
  }
}

.back__link {
  display: flex;
  align-items: center;
  justify-content: start;

  margin-top: 24px;

  text-decoration: none;

  @include onTablet {
    margin-top: 40px;
  }

  @include onDesktop {
    margin-top: 40px;
  }

  &-item {
    margin-right: 4px;
  }
}
