body {
  background-color: #FAFBFC;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
