@import './styles/utils/mixins';
@import './styles/utils/extends';
@import './styles/utils/vars';
@import './styles/fonts/mont.scss';
@import './styles/fonts/typography.scss';

@import './styles/blocks/container.scss';
@import './styles/blocks/grid.scss';
@import './styles/blocks/icons.scss';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(197, 141, 20);
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
}
